/* Google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.pe-light-purple {
    color: #5E63B6;
}

.pe-navy {
    color: #27296D;
}

.pe-radius {
    border-radius: 12px;
}

.pe-bg {
    background-color: #5E63B6;
}

#search-loader {
    display: none;
}